<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/Dropthebeat" version="1.0.0" viewmodes="maximized">
    <tizen:application id="4ll8UzK7CN.Dropthebeat" package="4ll8UzK7CN" required_version="2.4"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Dropthebeat</name>
    <tizen:profile name="mobile"/>
</widget>
